<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poomoo.parttimejob">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoTitleTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/NoTitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.ForgetPassWordActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.SearchJobActivity" />
        <activity android:name=".ui.activity.JobInfoActivity" />
        <activity android:name=".ui.activity.CityListActivity" />
        <activity android:name=".ui.activity.ApplicantListActivity" />
        <activity android:name=".ui.activity.ApplicantInfoActivity" />
        <activity android:name=".ui.activity.FilterActivity" />
        <activity android:name=".ui.activity.MyApplyActivity" />
        <activity android:name=".ui.activity.MyCollectionActivity" />
        <activity android:name=".ui.activity.FeedBackActivity" />
        <activity android:name=".ui.activity.MoreActivity" />
        <activity android:name=".ui.activity.ChangePassWordActivity" />
        <activity android:name=".ui.activity.ResumeActivity" />
        <activity android:name=".ui.activity.AuthActivity" />
        <activity android:name=".ui.activity.JobIntentionActivity" />
        <activity android:name=".ui.activity.SignUpActivity" />
        <activity android:name=".ui.activity.AboutActivity" />
        <activity android:name=".ui.activity.MessageActivity" />
        <activity android:name=".ui.activity.JobListByCateActivity" />
        <activity android:name=".ui.activity.MoreJobsActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"></action>
            </intent-filter>
        </service>

        <service
            android:name=".service.LocaleService"
            android:exported="false" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="R4R2RGZ04niTRG5sTvsKKziDG3UmKKsB" />
    </application>

</manifest>